<html>
<head>
  <title>Login Page</title>
</head>
<title>layout1</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
#change{
  color:aliceblue;
}
</style>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#" id = "change"><img src="https://swecha.org/sites/default/files/2021-05/Swecha.png" height = 40 width = 70 style = "border-radius: 10%;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">&emsp;&emsp;
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}" id = "change">Home</a>
      </li>&emsp;&emsp;
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('login')}}" id = "change">Login</a></li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <li class="nav-item">
         <a class="nav-link" href="{{url_for('contact')}}" id = "change">Contact Us</a></li>
    </ul>
  </div>
</nav>
<body style = "background-image: radial-gradient(circle,#ffef3c, #4ffbbc);"><br>
 <p style="text-align:center;
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5b/Swechalogo.png?20200714151506" alt="Logo" width="20%" height="150"></p><br><br>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: x-large;color: rgb(0,0,0);">&emsp;&emsp13;&emsp13;<u>K MAHESHBABU</u></p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;ROLL NUMBER: 20711A0467</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;DEPARTMENT OF ECE, NECN</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;EMAIL : kodimahesh1@gmail.com</p>
  <br><br>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: x-large;color: rgb(0,0,0);;">&emsp;&emsp13;&emsp13;<u>T LIKHITHA</u></p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;ROLL NUMBER: 20711A04H2</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;DEPARTMENT OF ECE, NECN</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;EMAIL : likhithat335@gmail.com</p>
  <br><br>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: x-large;color: rgb(0,0,0);;">&emsp;&emsp13;&emsp13;<u>N HABEEMUNNISA</u></p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;ROLL NUMBER: 20711A04B0</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;DEPARTMENT OF ECE, NECN</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;EMAIL : nhabeeminnisa2003@gmail.com</p>
  <br><br>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: x-large;color: rgb(0,0,0);;">&emsp;&emsp13;&emsp13;<u>K TEJASWINI</u></p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;ROLL NUMBER: 20711A0562</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;DEPARTMENT OF CSE, NECN</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;EMAIL : teju121201@gmail.com</p>
  <br><br>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: x-large;color: rgb(0,0,0);;">&emsp;&emsp13;&emsp13;<u>G JAHNAVI</u></p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;ROLL NUMBER: 20711A0445</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;DEPARTMENT OF ECE, NECN</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;EMAIL : gopireddyjanu@gmail.com</p>
  <br><br>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: x-large;color: rgb(0,0,0);;">&emsp;&emsp13;&emsp13;<u>K LAKSHMI VINEETHA</u></p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;ROLL NUMBER: 20711A0472</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);">&emsp;&emsp;&emsp;DEPARTMENT OF ECE, NECN</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;EMAIL : vineethareddy2002@gmail.com</p>
  <br><br>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: x-large;color: rgb(0,0,0);">&emsp;&emsp13;&emsp13;<u>CH PRASANNA</u></p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;ROLL NUMBER: 20711A0425</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;DEPARTMENT OF ECE, NECN</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;EMAIL : chinnapattuprasanna@gmail.com</p>
  <br><br>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: x-large;color: rgb(0,0,0);;">&emsp;&emsp13;&emsp13;<u>V SAIUMAMAHESWARI</u></p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;ROLL NUMBER: 20711A0259</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;DEPARTMENT OF EEE, NECN</p>
  <p style="text-align:left;font-family: 'Times New Roman', Times, serif;font-size: large;color: rgb(0,0,0);;">&emsp;&emsp;&emsp;EMAIL : viswanadhanmaheswari@gmail.com</p>
  
</body>
</html>


