<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }
        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #ff0000;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Oops! you have entered wrong details</h1>
        <p>Please try again later.</p><center>
        <a href = "{{url_for('login')}}">Click here to go back</a></center>
    </div>
</body>
</html>