<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"><br><br><br>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col" style = "background-image:linear-gradient(#7ad4fa, #c790fc); border-radius: 5%;"><center>
            <br><p style="text-align:center;
            -webkit-filter: drop-shadow(10px 10px 5px #666666);
            filter: drop-shadow(10px 10px 5px #666666);"></p>
            <img src = "https://upload.wikimedia.org/wikipedia/commons/5/5b/Swechalogo.png?20200714151506" width = "35%" height = "15%"><br></center>
        </center>
            <form method='POST' action = "{{url_for('idv')}}">
            <br>
            <p style = "font-family: 'Times New Roman', Times, serif;font-size: larger;"><b>STUDENT NAME:</b>  {{items[0][0]}}</p><br>
            <p style = "font-family: 'Times New Roman', Times, serif;font-size: larger;"><b>ROLL NUMBER:</b>   {{items[0][1]}} </p><br>
            <p style = "font-family: 'Times New Roman', Times, serif;font-size: larger;"><b>YEAR:</b>  {{items[0][2]}}</p><br>
            <p style = "font-family: 'Times New Roman', Times, serif;font-size: larger;"><b>BRANCH:</b>  {{items[0][3]}}</p><br>
            <p style = "font-family: 'Times New Roman', Times, serif;font-size: larger;"><b>PHONE NUMBER:</b>  {{items[0][4]}}</p><br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/XXXTentacion_signature.svg/1206px-XXXTentacion_signature.svg.png" height = "10%" width = "10%">
            <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>PRINCIPAL</b></p><br><br>
            </form>
            </div>
            <div class = "col"></div>
            <div class = "row"></div>
            </div></div><br><br>
            <center>
            <input value = "DOWNLOAD" type = "button" onclick = "handlePrint()"/></center><br><br>
            <script ype = "text/javascript">
                const handlePrint = () => {
                    var actContents = document.body.innerHTML;
                    document.body.innerHTML = actContents;
                    window.print();
                }
            </script>
              
                
                