<!DOCTYPE html>
<html>
<head>
  <title>admin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
  .active {
    background-color: #04AA6D;
  }
  #change{
    color:aliceblue;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#" id = "change"><img src="https://swecha.org/sites/default/files/2021-05/Swecha.png" height = 40 width = 70 style = "border-radius: 5%;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        &emsp;&emsp;
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('homea')}}" id = "change">Home</a>
        </li>&emsp;&emsp;
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('successa')}}" id = "change">Data</a>
        </li>&emsp;&emsp;
        <li class="nav-item" >
          <a class="nav-link" href="{{url_for('registrationformt')}}" id = "change">Registrations</a>
        </li>&emsp;&emsp;
        <a class="nav-link" href="{{url_for('idadmin')}}" id = "change">Generate ID</a>
      </li>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <li class="nav-item" >
          <a class="nav-link" href="{{url_for('logout')}}" id = "change">Logout</a>

        </li>
      </ul>
    </div>
  </nav>
  <body style = "background-image:radial-gradient(circle at left,#ffef3c, #4ffbbc)" >
        <br><br><br><br>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col" style = "background-color:#fcee53;border-radius: 5%;border-width:20px; -webkit-filter: drop-shadow(10px 10px 5px #2efcb0);
                filter: box-shadow(10px 10px 5px #2efcb0);">
                    <br><center><p style = "color:#000000; font-size: large;"><b>ENTER USERNAME TO GENERATE ID</b></p></center><br>
                    <form method='POST' action = "{{url_for('adminidg')}}">
                        <label for="username" style="color:black">Username:&emsp14;</label>
                        <input type="text" placeholder = "Username" id="username" name="username"><br><br>
                        <center>
                        <input type = "reset" style = "background-color: #0091D5;color:white;font-weight: bold;border-radius: 20%;">&emsp;
                        <input type="submit" name = "submit_button" value = "Submit" style = "background-color: #0091D5;color:WHITE;font-weight: bold;border-radius: 20%;">
                        </center>
                        <br><br><br>
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
</body>
</html>